.breadcrumb {

}
.breadcrumb__list {
    display: flex;
    gap: 20px;

}
.breadcrumb__item {
}
.breadcrumb__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.4%;
    color: #0093FD;
}