.category-item {
    padding: 80px 0 40px;

    @include for-tablet-landscape {
        padding: 60px 0 30px;
    }
    @include for-phone-portrait {
        padding: 50px 0 25px;
    }
    @include for-phone {
        padding: 40px 0 15px;
    }
}
.category-item__title {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 113.4%;
    color: #000000;

    @include for-desk {
        font-size: 40px;
    }
    @include for-tablet-landscape {
        font-size: 35px;
    }
    @include for-phone-portrait {
        font-size: 30px;
    }
    @include for-phone {
        font-size: clamp(20px, 6.4vw, 30px);
    }

    span {
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 113.4%;
        background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        @include for-desk {
            font-size: 40px;
        }
        @include for-tablet-landscape {
            font-size: 35px;
        }
        @include for-phone-portrait {
            font-size: 30px;
        }
        @include for-phone {
            font-size: clamp(20px, 6.4vw, 30px);
        }
    }
}
.category-item__wrapper {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 600px;
    border-radius: 10px;

    @include for-desk {
        height: 466px;
    }
    @include for-tablet-landscape {
        margin-top: 40px;
        height: 400px;
    }
    @include for-tablet-portrait {
        height: 33vw;
    }
    @include for-phone-portrait {
        margin-top: 25px;
    }
}
.category-item__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;

    @include for-tablet-landscape {
        height: 400px;
    }
    @include for-tablet-portrait {
        height: 33vw;
    }
}
.category-item__list {
    height: 100%;
    max-width: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 68px 56px 30px;

    @include for-desk {
        padding: 50px;
        max-width: 490px;
    }
    @include for-tablet-landscape {
        padding: 30px;
        max-width: 400px;
    }
    @include for-tablet-portrait {
        padding: 20px;
        max-width: 37vw;
        min-width: 300px;
    }

    li {
        position: relative;
        display: flex;
        gap: 60px;

        @include for-desk {
            gap: 50px;
        }
        @include for-tablet-landscape {
            gap: 30px;
        }
        @include for-tablet-portrait {
            gap: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        div {

            h3 {
                max-width: 317px;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 134.4%;
                color: #000000; 
                
                @include for-tablet-landscape {
                    font-size: 17px;
                    max-width: 280px;
                }
                @include for-tablet-portrait {
                    font-size: clamp(13px, 1.6vw, 15px);
                }
            }

            h4 {
                max-width: 300px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 134.4%;
                color: #000000;
                margin-top: 15px;

                @include for-tablet-landscape {
                    font-size: 13px;
                    margin-top: 10px;
                    max-width: 280px;
                }
                @include for-tablet-portrait {
                    font-size: 11px;
                    margin-top: 5px;
                }
            }
        }
        .category-item__arrow1 {
            position: absolute;
            top: -10px;
            right: -195px;

            @include for-desk {
                width: 100px;
                right: -100px;
            }
            @include for-tablet-landscape {
                width: 70px;
                right: -23%;
            }
            @include for-tablet-portrait {
                width: 60px;
            }
        }
        .category-item__arrow2 {
            position: absolute;
            top: -30px;
            right: -195px;
            transform: rotate(-15deg);

            @include for-desk {
                width: 100px;
                right: -100px;
            }
            @include for-tablet-landscape {
                width: 70px;
                top: -10px;
                right: calc(-23% + 15px);
            }
            @include for-tablet-portrait {
                width: 60px;
                // top: -20px;
                right: calc(-23% + 10px);
            }
        }
        .category-item__arrow3 {
            position: absolute;
            top: -60px;
            right: -195px;
            transform: rotate(-30deg);

            @include for-desk {
                width: 100px;
                top: -35px;
                right: -100px;
            }
            @include for-tablet-landscape {
                width: 70px;
                right: -23%;
            }
            @include for-tablet-portrait {
                width: 60px;
                top: -20px;
            }
        }
    }
}