.clients {
    padding: 40px 0;
}
.clients__title {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 113.4%;
    color: #000000;
}
.clients__wrapper {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0;

}
.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/4 - 25px);
    height: 130px;
    background: #FFFFFF;
    box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
    border-radius: 30px;

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}