.footer {
    margin-top: 40px;
    padding: 60px 0;
    background: #161313;

    @include for-desk {
        padding: 40px 0 50px;
    }
    @include for-tablet-landscape {
        margin-top: 20px;
    }
    @include for-phone-portrait {
        margin-top: 0;
    }
    
}
.footer__block {
    max-width: 1004px;
    display: flex;
    justify-content: space-between;

    @include for-tablet-portrait {
        justify-content: start;
        gap: 50px;
    }
    @include for-phone-portrait {
        justify-content: center;
    }
}
.footer__block_logo {

    a {

        img {
            max-width: 70px;
            height: auto;
        }
    }
}
.footer__block_social {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-top: 20px;

    @include for-phone-portrait {
        display: none;
    }

    &-mobile {
        display: none;

        @include for-phone-portrait {
            display: flex;
            margin-top: 30px;
        }
    }
}
.footer__block_menu {
    display: flex;
    gap: 76px;
    padding-top: 34px;

    @include for-tablet-landscape {
        gap: 55px;
    }
    @include for-tablet-portrait {
        gap: 0;
        justify-content: space-between;
        width: 80vw;
    }
    @include for-phone-portrait {
        display: none;
    }

    li {       
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;  
        
        @include for-desk {
            font-size: 18px;
        }
        @include for-tablet-portrait {
            font-size: 16px;
        }

        a {
            display: inline-block;
            color: #FFFFFF;
            max-width: 191px;

            @include for-tablet-portrait {
                max-width: 16vw;
            }
        }
    }
}
.footer__contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @include for-tablet-landscape {
        flex-direction: column;
    }
    @include for-phone-portrait {
        margin-top: 30px;
    }

    .footer__contacts_item {
        
        &:last-child {
            @include for-tablet-landscape {
                margin-top: 30px;
            }
            
        }
    }

    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 113.4%;
        color: #FFFFFF;

        @include for-desk {
            font-size: 28px;
        }
        @include for-tablet-portrait {
            font-size: 24px;
        }
        @include for-phone-portrait {
            display: none;
        }
    }
}
.footer__contacts_block {
    display: flex;
    gap: 45px;
    margin-top: 25px;

    @include for-phone-portrait {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 0;
    }
}
.footer__contacts_mail {

    img {
        max-width: 100%;
        height: auto;
        margin-right: 20px;

        @include for-desk {
            max-width: 30px;
            margin-right: 10px;
        }
        @include for-phone-portrait {
            display: none;
        }
    }
    a {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 134.4%;
        color: #FFFFFF;

        @include for-desk {
            font-size: 16px;
        }
        @include for-tablet-landscape {
            font-size: 18px;
        }
        @include for-tablet-portrait {
            font-size: 16px;
        }
        @include for-phone-portrait {
            font-size: 20px;

            background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: #ffffff;

            @include for-phone-portrait {
                background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
            }
        }
    }
}
.footer__contacts_phone {
    img {
        max-width: 100%;
        height: auto;
        margin-right: 10px;

        @include for-desk {
            max-width: 30px;
            margin-right: 0;
        }
        @include for-phone-portrait {
            display: none;
        }
    }
    a {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 134.4%;
        color: #FFFFFF;

        @include for-desk {
            font-size: 16px;
        }
        @include for-tablet-landscape {
            font-size: 18px;
        }
        @include for-tablet-portrait {
            font-size: 16px;
        }
        @include for-phone-portrait {
            font-size: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: #ffffff;
        }
    }
}
.footer__requisites_block {
    display: flex;
    gap: 20px;
    margin-top: 25px;

    @include for-phone-portrait {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    @include for-phone-portrait {
        margin-top: 0;
    }

    li {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 134.4%;
        color: #FFFFFF;

        @include for-desk {
            font-size: 16px;
        }
        @include for-tablet-landscape {
            font-size: 18px;
        }
        @include for-tablet-portrait {
            font-size: 16px;
        }
    }
}

.footer__contacts_item-social {
    display: flex;
    justify-content: center;
}