.order-stages {
    
    margin: 0 auto;
    width: fit-content;
    &__wrapper {
        display: flex;
        align-items: center;
        
    }

    &__stage {
        p {

        }
        &_active {
            p {

            }
        }
    }

    &__divider {
        margin: 0 20px;
        img {
            @include for-phone {
                width: 100%;
            }
        }
        @include for-phone {
            margin: 0 10px;
            width: 61px;
        }
    }
}


.order {
    margin-top: 30px;
    &__wrapper {
        max-width: 730px;
        margin: 0 auto;
    }

    &__grid-elem {
        @include for-phone {
            display: grid;
        }
    }

    &__grid-item {
        &:nth-child(1) {
            @include for-phone {
                grid-column: 1/2;
                grid-row: 3/4;
            }
        }
        &:nth-child(2) {
            @include for-phone {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
        &:nth-child(3) {
            @include for-phone {
                grid-column: 1/2;
                grid-row: 2/3;
            }
        }
    }

    &__title {
        margin-top: 19px;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        letter-spacing: 0.035em;
        color: #000000;
        text-align: center;
        @include for-phone {
            margin-top: 46px;
            margin-bottom: 16px;
            font-size: 20px;
        }
    }

    &__left {
        @include for-phone {
            margin-top: 38px;
        }
    }

    &__next {
        display: block;
        margin: 0 auto;
        padding: 20px 40px;
        background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        color: #FFFFFF;
        @include for-phone-portrait {
            padding: 15px 20px;
        }
        @include for-phone {
            max-width: 100%;
            width: 100%;
        }
    }

    &__steps {
        width: 100%;
    }

    &__step {
        margin-bottom: 40px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
    }

    &__step-content {
        padding: 30px 30px 56px 30px;
        @include for-phone-portrait {
            padding: 20px 20px 40px 20px;
        }
    }

    &__step-title {
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        letter-spacing: 0.035em;
        color: #000000;
        @include for-phone {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }

    &__step-subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #CD5B5B;
        @include for-phone {
            font-size: 12px;
        }
    }

    &__contact {
        margin-top: 30px;
        max-width: 542px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 80px;
        gap: 22px;
        @include for-phone {
            margin-top: 20px;
            grid-auto-rows: 55px;
            gap: 10px;
        }
        &_jur {
            .order__input {
                &:nth-child(1) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                &:nth-child(2) {
                    grid-column: 1/3;
                    grid-row: 2/3;
                }
                &:nth-child(3) {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                &:nth-child(4) {
                    grid-column: 2/3;
                    grid-row: 3/4;
                }
                &:nth-child(5) {
                    grid-column: 1/3;
                    grid-row: 4/5;
                }
                &:nth-child(6) {
                    grid-column: 1/3;
                    grid-row: 5/6;
                }
                &:nth-child(7) {
                    grid-column: 1/3;
                    grid-row: 6/7;
                }
                &:nth-child(8) {
                    grid-column: 1/3;
                    grid-row: 7/8;
                }
            }
        }
        
    }

    &__input {
        padding-left: 18px;
        border: 1px solid #9D9797;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #9D9797;
        @include for-phone {
            padding-left: 21px;
            font-size: 14px;
        }

        &:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &:nth-child(2) {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &:nth-child(3) {
            grid-column: 1/3;
            grid-row: 2/3;
        }
        &:nth-child(4) {
            grid-column: 1/3;
            grid-row: 3/4;
        }

        
    }

    &__address {
    }

    &__items-counter {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #000000;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-left: 10px;
        max-width: 100px;
        width: 100%;
        height: 92px;
        &:nth-child(1) {
            margin-left: 0;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__totals {
        margin-top: 40px;
        display: flex;
    }

    &__totals-name {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        letter-spacing: 0.035em;
        color: #000000;
    }

    &__total-price {
        margin-left: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        letter-spacing: 0.035em;
        color: #000000;
    }

    &__totals-mini {
        margin-top: 15px;
    }

    &__totals-positions {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
    }

    &__totals-delivery {
        margin-top: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
    }

    &__confirm {
        padding: 20px 56px;
        background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        color: #FFFFFF;
        @include for-phone {
            width: 100%;
            padding: 15px 20px;
        }
    }

    &__bottom {
        @include for-phone {
            padding: 0 13px;
        }
    }

    &__polytics {
        max-width: 438px;
        width: 100%;
        margin-top: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
        a {
            background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

            @include for-phone {
                font-size: 11px;
            }
        }
        @include for-phone {
            font-size: 12px;
        }
    }

    &__tabs-item {
        display: none;
        &_active {
            display: block;
        }
    }

    &__tabs-content {
        /* display: flex; */
    }
}




.tabs-controls {
    width: fit-content;
    margin: 0 auto 40px auto;
    display: grid;
    grid-template-columns: 176px 176px;
    grid-auto-rows: 45px;
    gap: 10px;
    @include for-phone {
        margin: 0 auto 24px auto;
        grid-template-columns: repeat(2, 135px);
        grid-auto-rows: 35px;
    }
    &__item {
        border: 1px solid #9B8C8C;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &_active {
            border: none;
            .tabs-controls__text {
                color: #000000;
            }
        }
    }

    &__text {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 135%;
        letter-spacing: 0.035em;
        color: #9B8C8C;
        @include for-phone {
            font-size: 16px;
        }
    }
}


.order-history {

    &__wrapper {
    }

    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 63px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
        p {
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 135%;
            background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        &_first {
        }

        &_second {
        }

        &_third {
        }

        &_fourth {
        }
    }

    &__num {
    }

    &__divider {
    }
}






.order {

    &__pay {
        margin-top: 27px;
        margin-bottom: 37px;
        @include for-phone {
            margin-top: 20px;
        }
    }

    &__pay-tabs {
        display: grid;
        grid-template-columns: repeat(2, 165px);
        grid-auto-rows: 62px;
        gap: 20px;
        @include for-phone {
            grid-template-columns: repeat(2, 140px);
            grid-auto-rows: 53px;
            gap: 5px;
        }
        @include for-phone-small {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__pay-tab {
        padding: 8px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #BCB4B4;
        border-radius: 4px;
        cursor: pointer;
        &_active {
            border: 2px solid #000000;
            @include for-phone {
                border: 1px solid #000000;
            }
        }
        &_card {
            align-items: flex-start;
        }
        @include for-phone {
            padding: 8px 10px;
        }
    }

    &__pay-name {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 135%;
        color: #000000;
        @include for-phone {
            font-size: clamp(11px, 3.4vw,12px);
        }
    }

    &__pay-icon {
        margin-top: 5px;
    }

    &__pay-container {
        margin-top: 41px;
    }

    &__pay-item {
        display: none;
        
    }

    &__pay-methods {
    }

    &__pay-method {
        display: flex;
        align-items: center;
    }

    &__pay-text {
        display: flex;
        align-items: center;
        margin-left: 28px;
        @include for-phone {
            margin-left: 0;
        }
    }

    &__pay-bankname {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #000000;
        @include for-phone {
            display: none;
        }
    }

    &__pay-bankicon {
        margin-left: 30px;
    }

    &__pay-question {
        margin-left: 10px;
        cursor: pointer;
        @include for-phone {
            width: 16px;
            height: 16px;
        }
    }
}

.order__pay-item {
    display: none;
    &_active {
        display: block;
    }
}



.order {

    &__adress-form {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        @include for-phone {
            margin-top: 20px;
        }
    }

    &__adress-row {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        @include for-phone {
            margin-bottom: 10px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(1) {
            max-width: 622px;
            .order__adress-input {
                resize: none;
                padding: 15px 100px 15px 20px;
                @include for-phone {
                    // height: 70px;
                    padding: 15px 80px 15px 20px;
                }
            }
        }
        &:nth-child(2) {
            max-width: 220px;
        }
        &:nth-child(3) {
            max-width: 482px;
        }
    }

    &__adress-input {
        padding: 16px 18px 24px 18px;
        width: 100%;
        border: 1px solid #000000;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
        @include for-phone {
            padding: 20px 20px 20px 20px;
            font-size: 12px;
        }
        &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 135%;
            color: #000000;
            @include for-phone {
                font-size: 12px;
            }
        }
    }

    &__adress-instruments {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__adress-search {
        cursor: pointer;
    }

    &__adress-clear {
        margin-left: 5px;
        cursor: pointer;
        @include for-phone {
            margin-left: 13px;
        }
    }

    &__adress-textarea {
        width: 100%;
        min-height: 127px;
        padding: 16px 18px 24px 18px;
        border: 1px solid #000000;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #9D9797;
    }

}
