.promo-category {
    background: #f4f4f2;
}
.promo-category__bg {
    position: relative;
    padding: 176px 0 0;
    height: 771px;
    max-width: 1920px;
    margin: 0 auto;
    background: url(../assets/img/gym-carpet/gym-carpet-bg-min.png) 85% 100%/cover no-repeat;

    @include for-desk {
        height: 700px;
        background-position: 60% 100%;
        padding-top: 160px;
    }
    @include for-tablet-landscape {
        height: 650px;
    }
}
.promo-category__title {
    max-width: 838px;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 134.4%;
    letter-spacing: 0.035em;
    color: #000000;
    margin-top: 10px;

    @include for-desk-big {
        font-size: 50px;
    }
    @include for-desk {
        font-size: 45px;
        max-width: 755px;
    }
    @include for-tablet-landscape {
        font-size: 40px;
        max-width: 600px;
    }
    @include for-tablet-portrait {
        font-size: 35px;
        max-width: 520px;
    }
}
.promo-category__title_sport {
    max-width: 780px;
}
.promo-category__advantages {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 54px;
    width: 875px;
    height: 185px;
    background: #FAF8F8;
    box-shadow: 0px -43px 75px -5px rgba(57, 87, 237, 0.05);
    border-radius: 10px 10px 0px 0px;

    @include for-desk {
        width: 855px;
        height: 175px;
        padding: 25px 45px;
    }
    @include for-tablet-landscape {
        right: 50%;
        transform: translateX(50%);
    }
    @include for-tablet-portrait {
        width: 720px;
        height: auto;
        padding: 20px;
    }

    li {

        img {
            max-width: 100%;
            height: auto;

            @include for-desk {
                max-width: 44px;
            }
            @include for-tablet-portrait {
                max-width: 35px;
            }
        }
        p {
            max-width: 239px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 134.4%;
            color: #000000;
            margin-top: 15px;

            @include for-desk {
                max-width: 225px;
                font-size: 15px;
            }
            @include for-tablet-portrait {
                max-width: 200px;
                font-size: 13px;
            }
        }
    }
}
.promo-category__buttons {
    display: flex;
    justify-content: space-between;
    width: 470px;
    margin-top: 40px;

    @include for-desk {
        width: 430px;
    }
    @include for-tablet-landscape {
        width: 390px;
    }
}
