.product {
    margin-top: 150px;
    @include for-phone-portrait {
        margin-top: 120px;
    }

    .product__image-slider {
        .slick-slide {
            height: 625px;
            div {
                height: 625px;
                
                @include for-phone-portrait {
                    height: 340px;
                }
            }
            @include for-phone-portrait {
                height: 340px;
            }
            .reel {
                /* border-radius: 10px;
                @include for-phone-portrait {
                    height: 340px!important;
                }  */
            }
            .reel__wrapper {
                /* background-color: #fff;
                border-radius: 10px; */
                /* display: flex;
                justify-content: center; */
                @include for-phone-portrait {
                    /* display: flex;
                    justify-content: center;
                    width: 100%; */
                }
            }
        }
    }

    &__wrapper {
        margin-top: 18px;
        max-width: 1390px;
        display: grid;
        grid-template-columns: 810px 410px;
        justify-content: space-between;
        @include for-desk {
            grid-template-columns: 740px 355px;
        }
        @include for-tablet-landscape {
            grid-template-columns: 1fr 350px;
            gap: 30px;
        }
        @include for-tablet-portrait {
            margin-top: 20px;
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__main {
    }

    &__main-top {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 130px 600px;
        justify-content: space-between;
        @include for-desk {
            grid-template-columns: 130px 570px;
        }
        @include for-tablet-landscape {
            grid-template-columns: 1fr;
        }
        @include for-tablet-portrait {
            margin-bottom: 0;
        }
    }

    &__slider {
        margin-top: 8px;
        @include for-tablet-landscape {
            margin-top: initial;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        @include for-phone-portrait {
            padding: 0 20px;
        }
    }

    &__image {
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slick-list {
            height: 100%;
        }
    }

    &__description {
        margin-top: 25px;
        @include for-tablet-portrait {
            display: none;
        }
    }

    &__descriptions {
        margin-top: 25px;
    }

    &__description-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        &_mob {
            display: none;
            @include for-tablet-portrait {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 1fr;
            }
            @include for-phone-portrait {
                gap: 10px;
            }
        }
    }

    &__description-item {
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
    }

    &__description-content {
        padding: 28px 30px;
        @include for-phone-portrait {
            padding: 20px;
        }
    }

    &__description-title {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 114%;
        color: #000000;
    }

    &__description-descr {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
    }

    &__description-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #000000;
        @include for-phone-portrait {
            font-weight: 500;
        }
    }

    &__aside {
        
    }

    &__aside-top {
        @include for-phone-portrait {
            padding: 0 20px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        letter-spacing: 0.035em;
        color: #000000;
        @include for-phone-portrait {
            font-size: 20px;
        }
    }

    &__prices {
        margin-top: 22px;
        display: flex;
        align-items: flex-end;
        @include for-phone-portrait {
            margin-top: 20px;
        }
    }



    &__new {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__old {
        margin-left: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        text-decoration-line: line-through;
        color: #AB9F9F;
    }


    &__credit {
        margin-top: 15px;
        @include for-phone-portrait {
            margin-top: 10px;
        }
    }

    &__credit-title {
        display: none;
        margin-bottom: 11px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
        @include for-phone-portrait {
            display: block;
        }
    }

    &__credit-line {
        position: relative;
        @include for-desk {
            width: fit-content;
        }
    }

    &__credit-message {
        display: none;
        opacity: 0;
        position: absolute;
        top: -80px;
        right: -4px;
        max-width: 244px;
        width: 244px;
        padding: 15px 17px 20px 10px;
        background: #000000;
        box-shadow: -15px 22px 62px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
        transition: all 0.3s all;
        @include for-desk {
            right: -75px;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 6px 0 6px;
            border-color: #000000 transparent transparent transparent;
            @include for-desk {
                right: 80px;
                left: initial;
            }
        }
        &_active {
            display: block;
            opacity: 1;
        }
    }

    &__credit-content {
        position: relative;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 135%;
            color: #FFFFFF;
            @include for-desk {
                /* font-size: 0.8vw; */
            }
        }
        
    }

    &__credit-main {
        display: flex;
        align-items: center;
    }

    &__credit-price {
        padding: 2px 2px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        color: #FFFFFF;
        background: -webkit-gradient(linear, left top, right top, from(#000000), to(#000000));
        background: linear-gradient(90deg, #000000 0%, #000000 100%);
    }

    &__credit-divider {
        margin: 0 5px;
    }

    &__credit-month {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #000000;
    }

    &__credit-info {
        margin-top: 0px;
        margin-left: 5px;
        cursor: pointer;
    }

    &__buttons {
        margin-top: 28px;
        display: flex;
        align-items: center;
    }

    &__oneclick {
        padding: 20px 33px;
        background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        color: #FFFFFF;
        &:hover {
            color: #000000;
        }
    }

    &__to-cart {
        margin-left: 20px;
        position: relative;
        background: transparent;
        span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 135%;
            background: linear-gradient(90deg, #000000 0%, #000000 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            &::after {
                content: '';
                position: absolute;
                bottom: 2px;
                left: 0;
                width: 100%;
                height: 1px;
                background: #000000;
            }
            &:hover {
                background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                &::after {
                    background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
                }
            }
            @include for-phone-portrait {
                display: none;
            }
        }
        &_icon {
            display: none;
            @include for-phone-portrait {
                display: block;
            }
        }
        @include for-phone-portrait {
            margin-left: 25px;
        }
    }

    &__description-link {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        }
    }

    &__aside-bottom {
        margin-top: 40px;
        @include for-phone-portrait {
            margin-top: 30px;
        }
    }

    &__aside-title {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 113%;
        color: #000000;
        @include for-phone-portrait {
            padding: 0 20px;
            font-size: 20px;
        }
    }

    &__aside-cards {
    }

    &__aside-card {
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
    }

    &__aside-content {
        padding: 27px 30px 37px 30px;
        @include for-phone-portrait {
            padding: 20px 20px 30px 20px;
        }
    }

    &__aside-list {
        margin-bottom: 6px;
    }

    &__aside-item {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

    &__aside-key {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
    }

    &__aside-value {
        margin-left: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #000000;
    }

    &__aside-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        text-decoration-line: underline;
        color: #000000;
    }

    &__free {
        margin-top: 10px;
        background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
        @include for-tablet-portrait {
            margin-top: 20px;
        }
    }

    &__free-content {
        padding: 20px 30px;
        @include for-phone-portrait {
            padding: 20px;
        }
    }

    &__free-title {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 135%;
        letter-spacing: 0.035em;
        color: #FFFFFF;
    }

    &__free-order {
        padding: 10px 64px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        span {
            background: linear-gradient(90deg, #000000 0%, #000000 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        &:hover {
            span {
                background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
}





.product-slider {
    position: relative;
    @include for-tablet-landscape {
        margin-top: 20px;
        height: 135px;
    }
    @include for-phone-portrait {
        display: none;
    }

    

    .slick-list {
        border-radius: 10px;
    }

    .slick-slide {
        /* height: 200px; */
        height: 197px;
        margin: 5px 0;
        div {
            height: 100%;
        }
        @include for-tablet-landscape {
            margin: 0 5px;
            height: 135px;
        }
    }

    .slick-list {
        margin: -5px 0;
        @include for-tablet-landscape {
            margin: 0 0;
        }
    }


    &__bottom {
        margin-top: 10px;
        display: none;
        @include for-phone-portrait {
            display: flex;
        }
    }

    &__additional {
        display: flex;
        margin-left: 15px;
    }

    &__additional-item {
        margin-left: 15px;
        background: #FFFFFF;
        box-shadow: -15px 0px 62px -10px rgba(14, 14, 15, 0.2);
        border-radius: 10px;
        cursor: pointer;
        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__dots {
        .slick-dots {
            @include for-phone-portrait {
                display: flex;
            }
            li {
                margin-left: 3px;
                button {
                    background: #CDC8C8;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    font-size: 0;
                }
                &:nth-child(1) {
                    margin-left: 0;
                }
            }
            .slick-active {
                button {
                    background: #000000;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
    


    &__arrow {
        position: absolute;
        padding: 11px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: -15px 0px 62px -10px rgba(14, 14, 15, 0.2);
        border-radius: 10px;
        cursor: pointer;
        z-index: 10;
        &_top {
            top: -1px;
            left: 0;
            @include for-tablet-landscape {
                width: 30px;
                height: 100%;
                top: 0;
                left: -1px;
            }
            
        }

        &_bottom {
            bottom: -1px;
            left: 0;
            @include for-tablet-landscape {
                width: 30px;
                height: 100%;
                top: 0;
                left: initial;
                right: -1px;
            }
            
        }

        &_l {
            display: none;
            @include for-tablet-landscape {
                display: block;
            }
        }

        &_r {
            display: none;
            @include for-tablet-landscape {
                display: block;
            }
        }

        &_t {
            @include for-tablet-landscape {
                display: none;
            }
            @include for-phone-portrait {
                display: block;
            }
        }

        &_b {
            @include for-tablet-landscape {
                display: none;
            }
            @include for-phone-portrait {
                display: block;
            }
        }
    }

    &__wrapper {
    }

    &__item {
        border-radius: 10px;
        height: 100%;
        img {
            border-radius: 10px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}


.product {

    &__image-item {
        height: 100%;
        &_reel {
            cursor: pointer;
        }
    }

    .product__3d-image {
        @include for-phone-portrait {
            object-fit: none!important;
        }
    }

    .product__3d-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        transform: translate3d(-50%, -50%, 0);
    }
    
    .reel__wrapper {
        position: relative;
    }
}
