.team {
    padding: 40px 0;
}
.team__title {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 113.4%;
    color: #000000;
}
.team__wrapper {
    margin-top: 60px;
    max-width: 1105px;
    display: flex;
    justify-content: space-between;

    li {
        width: calc(100%/3 - 10px);
        border-radius: 30px 30px 0px 0px;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);

        img {
            max-width: 100%;
            height: auto;
        }

        div {
            max-width: 355px;
            background: #FFFFFF;
            padding: 20px 0 30px 15px;

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 134.4%;
                color: #000000;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 134.4%;
                color: #000000;
                margin-top: 20px;
            }
        }
    }
}