.unique {
    padding: 40px 0;
}
.unique__block {
    display: flex;
    width: 100%;
}
.unique__item_quality {
    width: 54.5%;
    padding: 90px 30px;
    border-radius: 10px 0px 0px 10px;

    h2 {
        max-width: 522px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 113.4%;
        color: #FFFFFF;
    }

    h3 {
        max-width: 742px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 134.4%;
        color: #FFFFFF;
        margin-top: 27px;
    }
}
.unique__item_logo {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 45.5%;
    background: linear-gradient(90deg, #015EEA 0%, #00F2FE 100%);
    border-radius: 0px 10px 10px 0px;
}